<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".CreateSubjectOrTopicPopUpActivity"
            android:exported="true" />
        <activity
            android:name=".HintPopUpActivity"
            android:exported="true" />
        <activity
            android:name=".QuizModeShowCards"
            android:exported="true" />
        <activity
            android:name=".StudyModeShowCards"
            android:exported="true" />
        <activity
            android:name=".CancelNewCardPopupActivity"
            android:exported="true" />
        <activity
            android:name=".CardsOverviewActivity"
            android:exported="true" />
        <activity
            android:name=".ThemenuebersichtsActivity"
            android:exported="true" />
        <activity
            android:name=".SubjectOverviewActivity"
            android:exported="true" />
        <activity
            android:name=".CreateNewCardActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InsertImgHelperClassActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>