<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".editactivities.EditCardOrderActivity"
            android:exported="false" />
        <activity
            android:name=".editactivities.EditTopicActivity"
            android:exported="false" />
        <activity
            android:name=".editactivities.EditSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".loginactivities.RegistrationActivity"
            android:exported="false"
            android:label="Registration" />
        <activity
            android:name=".exportactivities.EmailExportActivity"
            android:exported="false" />
        <activity
            android:name=".createactivities.ChooseSubjectAndTopicForNewCardActivity"
            android:exported="true" />
        <activity
            android:name=".createactivities.CreateTopicActivity"
            android:exported="true" />
        <activity
            android:name=".createactivities.CreateSubjectActivity"
            android:exported="true" />
        <activity
            android:name=".popups.HintPopUpActivity"
            android:exported="true" />
        <activity
            android:name=".modesofoperation.QuizModeActivity"
            android:exported="true" />
        <activity
            android:name=".modesofoperation.StudyModeActivity"
            android:exported="true" />
        <activity
            android:name=".overviewactivities.ShowCardsActivity"
            android:exported="true" />
        <activity
            android:name=".overviewactivities.ShowTopicsActivity"
            android:exported="true" />
        <activity
            android:name=".overviewactivities.ShowSubjectsActivity"
            android:exported="true" />
        <activity
            android:name=".createactivities.CreateNewCardActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".helperclasses.InsertImgHelperClassActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>